<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基数调整</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/elementui.css">
    <!-- 引入组件库 -->
    <script src="../js/elementui.js"></script>
</head>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>

<div id="tableView">
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item label="单位名称">
                <el-input v-model="searchForm.UNAME" placeholder="单位名称"></el-input>
            </el-form-item>
            <el-form-item>
            <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
        </el-form-item>
        </el-form>
    </el-row>
    <!--1-->
    <!--列表-->
    <el-row>
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                @selection-change="selectionChange"
                style="width: 100%">
            <el-table-column
                    prop="DWZH"
                    label="单位账号"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="UNAME"
                    label="单位名称"
                    width="150">
            </el-table-column>

            <el-table-column
                    prop="UDEPOSITRATIO"
                    label="单位缴存比例"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="UPERSONRATIO"
                    label="个人缴存比例"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="UDEPOSITEDPNUM"
                    label="单位缴存人数"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="UAREMAIN"
                    label="单位账户余额"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="UAOWEMONERY"
                    label="应缴纳金额"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="UASTATE"
                    label="单位账户状态"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="UAPAYENDDATE"
                    label="单位缴至年月"
                    width="120">
            </el-table-column>
            <el-table-column
                    label="操作">
                <template scope="scope">
                    <el-button :plain="true" type="success" size="small" icon="edit" @click="editClick(scope.row)">基数调整</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="18" >
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>


    <!--2-->
    <!--编辑界面-->
    <el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false" style="width:2200px">
        <!--<el-form :model="editForm" label-width="180px" lable-hight="240px" :rules="editFormRules" ref="editForm">-->
        <el-row>
            <el-form :inline="true" :model="searchForm1" class="demo-form-inline">
                <el-form-item label="姓名">
                    <el-input v-model="searchForm1.TB_PNAME" placeholder="姓名"></el-input>
                    <el-input type="hidden" v-model="searchForm1.uid"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" icon="search" @click="chaClick">查询</el-button>
                </el-form-item>
            </el-form>
        </el-row>
        <el-row>
            <el-table
                    :data="tableData1"
                    v-loading.body="loading"
                    border
                    @selection-change="selectionChange"
                    style="width: 100%">
                <el-table-column
                        prop="GRZH"
                        label="个人账号"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="TB_PNAME"
                        label="员工姓名"
                        width="150">
                </el-table-column>

                <el-table-column
                        prop="BASENUMMBER"
                        label="缴存基数"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="INDINROP"
                        label="个人缴存比例(%)"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="UBITNROP"
                        label="单位缴存人数(%)"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="UNITMONPAYSUM"
                        label="单位每月缴存"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="PERMONPAYSUM"
                        label="个人每月缴存"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="PERMONPAYSUM"
                        label="账户状态"
                        width="120">
                </el-table-column>
                <el-table-column
                        label="操作">
                    <template scope="scope">
                        <el-button :plain="true" type="success" size="small" icon="edit" @click="formClick(scope.row)">修改基数</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
        <!--列表底部工具条和分页符-->
        <el-row style="margin-top: 20px" type="flex" justify="end">
            <el-col :span="18" >
                <el-pagination
                        style="float: right"
                        @size-change="pageSizeChange"
                        @current-change="currentPageChange"
                        :current-page="currentPage"
                        :page-sizes="[10, 20, 30, 50]"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total1">
                </el-pagination>
            </el-col>
        </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisible = false">取消</el-button>
            <el-button @click.native="editFormVisible = false">确定</el-button>
        </div>
    </el-dialog>


<!--3-->

    <el-dialog title="基数修改" :visible.sync="editFormVisible1" :close-on-click-modal="false" style="width:2200px">
        <el-form :inline="true" :model="searchForm2" class="demo-form-inline">
        <el-row :gutter="20">
            <el-col :span="6">
                <div class="grid-content bg-purple">
                    <el-form-item label="所属单位" prop="URATIO">
                        <el-input v-model="searchForm2.UNAME" style="width: 200px;"></el-input>
                    </el-form-item>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="grid-content bg-purple">
                    <el-form-item label="单位账号" prop="PRATIO">
                        <el-input v-model="searchForm2.DWXZ" style="width: 200px;"></el-input>
                    </el-form-item>
                </div>
            </el-col>
        </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-form-item label="个人账号" prop="URATIO">
                            <el-input v-model="searchForm2.GRZH" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-form-item label="员工姓名" prop="PRATIO">
                            <el-input v-model="searchForm2.TB_PNAME" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-form-item label="缴存基数" prop="URATIO">
                            <el-input v-model="searchForm2.BASENUMMBER" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-form-item label="账户状态" prop="PRATIO">
                            <el-input v-model="searchForm2.PERACCSTATE" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-form-item label="单位缴存比例" prop="URATIO">
                            <el-input v-model="searchForm2.UBITNROP" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-form-item label="个人缴存比例" prop="PRATIO">
                            <el-input v-model="searchForm2.INDINROP" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-form-item label="单位月缴存额" prop="URATIO">
                            <el-input v-model="searchForm2.UNITMONPAYSUM" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-form-item label="个人月缴存额" prop="PRATIO">
                            <el-input v-model="searchForm2.PERMONPAYSUM" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisible1 = false">取消</el-button>
            <el-button type="primary" @click.native="editSubmit" :loading="editLoading">确定</el-button>
        </div>
    </el-dialog>

</div>


<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '基数调整'
        }
    });

    var tableView = new Vue({
        el: '#tableView',
        data: {
            //列表数据
            tableData: [],
            tableData1:[],
            //显示加载中样式
            loading:false,
            //搜索表单
            searchForm: {
                UNAME: ''
            },
            searchForm1: {
                TB_PNAME: '',
                uid:''
            },
            searchForm2: {
                UAID:'',
                UNAME: '',
                DWXZ: '',
                GRZH: '',
                TB_PNAME: '',
                BASENUMMBER: '',
                PERACCSTATE: '',
                UBITNROP: '',
                INDINROP: '',
                UNITMONPAYSUM: '',
                PERMONPAYSUM: ''
            },
            form:"",
            //多选值
            multipleSelection: [],
            //当前页
            currentPage:1,
            //分页大小
            pageSize:10,
            //总记录数
            total:800,
            total1:800,
            //删除的弹出框
            deleteVisible:false,
            //编辑界面是否显示
            editFormVisible: false,
            editFormVisible1: false,
            editLoading: false,
            goUrl:'',
            editFormRules: {
                name: [
                    { required: true, message: '请输入姓名', trigger: 'blur' }
                ]
            },
            //编辑界面数据
            editForm: {
                EMPNO: 0,
                ENAME: '',
                JOB: '',
                SAL: 0,
                HIREDATE: ''
            },
        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            var start =(this.currentPage-1)*this.pageSize;
            var end =this.currentPage*this.pageSize+1;
            axios.post('/af/jishu/page',{'start':start,'end':end}).then(function(response){
                self.total=response.data.total;
                self.tableData = response.data.pageData;
            })
        },
        methods:{
            //表格重新加载数据
            loadingData:function() {
                var _self = this;
                _self.loading = true;
                var self = this;
                var start =(this.currentPage-1)*this.pageSize;
                var end =this.currentPage*this.pageSize+1;
                var searchForm={'start':start,'end':end,'UNAME':this.searchForm.UNAME};
                axios.post('/af/jishu/page',searchForm).then(function(response){
                    _self.total=response.data.total;
                    _self.tableData = response.data.pageData;
                })
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            loadingData1:function() {
                var _self = this;
                _self.loading = true;
                var self = this;
                var start1 =(this.currentPage-1)*this.pageSize;
                var end1 =this.currentPage*this.pageSize+1;
                //alert(this.searchForm1.TB_PNAME);
               // alert(this.searchForm1.uid);
                var searchForm={'start1':start1,'end1':end1,'TB_PNAME':this.searchForm1.TB_PNAME,'uid':this.searchForm1.uid};
                axios.post('/af/jishu/page1',searchForm).then(function(response1){
                    _self.total1=response1.data.total1;
                    _self.tableData1 = response1.data.pageData1;
                })
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            //表格编辑事件
            editClick:function(row) {
                this.searchForm1.uid=row.DWZH;
                //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
                var self = this;
                var start1 =(this.currentPage-1)*this.pageSize;
                var end1 =this.currentPage*this.pageSize+1;
                axios.post('/af/jishu/page1',{'start1':start1,'end1':end1,'uid':row.DWZH}).then(function(response1){
                   // alert(response1.data.total1);
                    self.total1=response1.data.total1;
                    self.tableData1 = response1.data.pageData1;
                })
                this.editFormVisible = true;
            },
            formClick:function(row) {
                //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
                //alert(row.GRZH);
                var self = this;
                var url = '/af/jishu/select/'+row.GRZH;
                axios.post(url).then(function(response){
                    //alert(JSON.stringify(response.data));
                    self.searchForm2.UAID = response.data.UAID,
                    self.searchForm2.UNAME = response.data.UNAME,
                    self.searchForm2.DWXZ = response.data.DWXZ,
                    self.searchForm2.GRZH = response.data.GRZH,
                    self.searchForm2.TB_PNAME = response.data.TB_PNAME,
                    self.searchForm2.BASENUMMBER = response.data.BASENUMMBER,
                    self.searchForm2.PERACCSTATE = response.data.PERACCSTATE,
                    self.searchForm2.UBITNROP = response.data.UBITNROP,
                    self.searchForm2.INDINROP = response.data.INDINROP,
                    self.searchForm2.UNITMONPAYSUM = response.data.UNITMONPAYSUM,
                    self.searchForm2.PERMONPAYSUM = response.data.PERMONPAYSUM
                })
                this.editFormVisible1 = true;
            },
            //表格查询事件
            searchClick:function() {
                var self = this;
                self.loadingData();//重新加载数据
            },
            chaClick:function() {
                var self = this;
                self.loadingData1();//重新加载数据
            },
            //表格勾选事件
            selectionChange:function(val) {
                for(var i=0;i<val.length;i++) {
                    var row = val[i];
                }
                this.multipleSelection = val;
                console.info(val);
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //保存点击事件
            editSubmit:function(){
                var _self = this;
                _self.loading = true;
                var formData =this.searchForm2;
                var goUrl="/af/jishu/update1";
                axios.post(goUrl,formData).then(function(response){
                    //alert(response.data);
                     if(response.data!=""){
                         _self.editFormVisible1 = false;
                         _self.editFormVisible = true;
                         _self.loadingData1();
                         _self.loadingData();
                     }
                })
                //console.info(this.editForm); 控制台输出
            }
        }

    })
</script>

</body>
</html>