<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js" tppabs="http://www.17sucai.com/preview/388478/2016-04-22/login1/js1/jquery-1.7.1.min.js"></script>
</head>
<body>
<span th:text="${msg}"></span>
<div style="width:800px">
    <table th:each="list : ${list}" style="width: 800px">
        <th>贷款统计<hr></th>
        <tr>
            <td>个人账号</td>
            <td><input id="t1" th:value="${list.GRZH}"/></td>
            <td>姓名</td>
            <td><input id="t2" th:value="${list.PNAME}"/></td>
        </tr>
        <tr>
            <td>贷款总额</td>
            <td><input id="t3" th:value="${list.LOAN_MONEY}">元</input></td>
            <td>贷款期数</td>
            <td><input id="t4" th:value="${list.LOAN_PERIODS}"/></td>
        </tr>
        <tr>
            <td>贷款发放日</td>
            <td><input th:value="${list.CTIME}"/></td>
            <td>贷款余额</td>
            <td><input th:value="${list.OVER_MONEY}"/>元</td>
        </tr>
        <tr>
            <td>贷款剩余期数</td>
            <td><input th:value="${list.OVER_PERIODS}"/></td>
        </tr>
    </table>
</div>
</body>
</html>