<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js" tppabs="http://www.17sucai.com/preview/388478/2016-04-22/login1/js1/jquery-1.7.1.min.js"></script>
</head>
<body>
<div style="width:800px">
    <table>
        <tr>
            <td>个人账号</td>
            <td><input id="t1" value="0000000012" readonly="readonly"/></td>
            <td>姓名</td>
            <td><input id="t2" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>贷款总额</td>
            <td><input id="t3" readonly="readonly">元</input></td>
            <td>贷款期数</td>
            <td><input id="t4" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>贷款发放日</td>
            <td><input readonly="readonly"/></td>
            <td>贷款余额</td>
            <td><input style="color:red;" readonly="readonly"/>元</td>
        </tr>
        <tr>
            <td>贷款剩余期数</td>
            <td><input readonly="readonly"/></td>
        </tr>
    </table>
</div>
</body>
</html>