<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../af/js/vue.js"></script>
    <script type="text/javascript" src="../af/js/axios.min.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<style>
    .el-header {
        background-color: #203535;
        color: white;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }

</style>
<body>
<div id="app">
    <el-header style="height: 100px;">Header<span>王小虎</span></el-header>
    <el-container style="height: 850px; border: 1px solid #eee;">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246);">
            <el-tree :data="dataTree" :props="defaultProps" accordion @node-click="handleNodeClick "></el-tree>
        </el-aside>

        <el-main>
            <el-tabs v-model="editableTabsValue2" type="card" closable @tab-remove="removeTab">
                <el-tab-pane
                        v-for="(item, index) in editableTabs2"
                        :key="item.name"
                        :label="item.title"
                        :name="item.name"
                >
                    <div class="iframe-container">
                        <span v-html = "item.content"></span>
                    </div>
                </el-tab-pane>
            </el-tabs>
            <!--<div  style="border-radius:20px;">-->
                <!--<iframe  id="ifr" scrolling="auto" frameborder="0"  src="/af/add" style="width:100%;height:600px;margin-top: 20px;"></iframe>-->
            <!--</div>-->
        </el-main>
    </el-container>
</div>
<script>
var vm=new Vue({
    el: '#app',
    data: {
        dataTree: [],
        defaultProps: {
            children: 'children',
            label: 'lable'
        },
        icon:'el-icon-menu',
        editableTabsValue2: '2',
        editableTabs2:[{title: '首页',
            name: '2',
            content: "<iframe src='https://www.baidu.com' frameborder=\"no\" scrolling=\"no\"  style=\"width:100%;height:710px;\"> </iframe>"
        }],
        tabIndex: 2
    },
    created: function () {
//        var arr = [{title: '首页',
//            name: '首页',
//            content: ""
//        }];
//
//        this.addTab(arr.content,arr.title);
        var self = this;
        //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
        axios.post('/af/tree/list').then(function (response) {
            self.dataTree = response.data;
            //self.tags=response.data.label;

        })
    },
    methods: {
        handleNodeClick: function(data) {
            //alert(data.lable);
            var url = data.treeUrl;
            var title = data.lable;
            //alert(url);
            //var content = "<iframe src='"+url+"' width='100%' height='500' scrollin
            var content = "<iframe src='"+url+"' frameborder=\"no\" scrolling=\"no\"  style=\"width:100%;height:710px;\"> </iframe>";
            //var targetName = this.editableTabsValue2;
            //var targetName = this.editableTabsValue2;
            if(url!=null&&url!='null'&&url!='') {
                this.addTab(content, title);
            }
    },
        addTab: function (content, title) {
            let newTabName = title;
            //alert(content);
            if (JSON.stringify(this.editableTabs2).indexOf(newTabName) == -1) {
                this.editableTabs2.push({
                    title: newTabName,
                    name: newTabName,
                    content: content
                });
            }

//            this.editableTabs2=[{
//                title: title,
//                name: newTabName,
//                content: content
//            }];
            this.editableTabsValue2 = newTabName;
        },

    removeTab: function (targetName) {
            let tabs = this.editableTabs2;
            let activeName = this.editableTabsValue2;
            if (activeName === targetName) {
                tabs.forEach((tab, index) => {
                    if (tab.name === targetName) {
                        let nextTab = tabs[index + 1] || tabs[index - 1];
                        if (nextTab) {
                            activeName = nextTab.name;
                        }
                    }
                });
            }

            this.editableTabsValue2 = activeName;
            this.editableTabs2 = tabs.filter(tab => tab.name !== targetName);
        }
    }
})
</script>
</body>

</html>