<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/af/css/main.css" tppabs="http://www.17sucai.com/preview/855854/2018-09-21/hehuiziben/css/main.css">
    <link rel="stylesheet" type="text/css" href="/af/css/style.css" tppabs="http://www.17sucai.com/preview/1324218/2018-08-14/ds/statics/css/style.css" />
    <script src="/af/js/jquery-1.11.0.js" tppabs="http://www.17sucai.com/preview/1324218/2018-08-14/ds/statics/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
    <title>首页</title>
</head>

<body>
<!--头部 开始 -->
<div class="index_head">
    <div class="w1200 clearFloat">
        <div class="head_left fl">
            <a href="javascript:;">
                <img class="fl" src="/af/img/index40.png" tppabs="http://www.17sucai.com/preview/855854/2018-09-21/hehuiziben/images/index40.png" />
                <span class="fl">AAA公积金<br />AAA Co.</span>
            </a>
        </div>
        <div class="head_right fl">
            <ul class="clearFloat">
                <li class="add_bg">
                    <a href="javascript:;"><span>首页</span></a>
                </li>
                <li>
                    <a href="#we"><span>关于我们</span></a>
                </li>
                <li>
                    <a href="#zixun"><span>AAA资讯</span></a>
                </li>
                <li>
                    <a href="/af/home/toPerson"><span>个人登录</span></a>
                </li>
                <li>
                    <a href="/af/home/toCompany"><span>单位登录</span></a>
                </li>
                <li>
                    <a href="/af/toLogin"><span>管理员登录</span></a>
                </li>
                <li>
                    <a href="#lianxiwomen"><span>联系我们</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--头部 结束 -->
<!--banner 开始 -->
<div class="index_banner index2_banner">
    <a href="javascript:;">
        <div class="w1200">
            <p class="p1">住房公积金让你的生活变得更<br/>加美好</p>
            <p class="p2">let the life to be better！</p>
        </div>
    </a>
</div>
<!--banner 结束 -->
<div class="zindex w1200 clearFloat" id="we">
    <!--关于和慧 开始 -->
    <div class="zindex_cont1">
        <div class="tit">
            <span>关于我们</span>
            <em>ABOUT US</em>
        </div>
        <div class="det clearFloat">
            <div class="fon fl">
                <p>AAA公积金是在国家放开民营资本进入金融业的监管限制、中国经济持续发展、财富管理在中国会有越来越广阔的市场的背景下，由一支国内大型券商管理团队为班底，以打造中国一流并购与投资管理公司为目标而设立。我们以共赢、专业、市场化作为核心经营理念，旨在打造一个以投资能力和综合服务能力作为自身核心竞争力的资产管理平台。</p>
                <!--<div class="more"><a href="javascript:;">查看详情</a></div>-->
            </div>
            <div class="ig fr"><img src="/af/img/index44.jpg" tppabs="http://www.17sucai.com/preview/855854/2018-09-21/hehuiziben/images/index44.jpg" /></div>
        </div>
    </div>
    <!--关于和慧 结束 -->
    <div class="content" id="zixun">
        <a href="#">
            <h2 class="title">AAA资讯</h2></a>
        <p class="subtitle">关注AAA、关注住房、关注公积金、关注AAA住房公积金</p>
        <div class="tab-block information-tab">
            <div class="tab-buttons ">
                <h3 class="tab-button cur" data-tab="one">通知公告</h3>
                <h3 class="tab-button" data-tab="two">工作动态</h3>
                <h3 class="tab-button" data-tab="three">执法公告<span class="question-icon"></span></h3>
            </div>
            <div class="tabs">
                <div class="tab-item active" id="tab-one">
                    <div class="information-tab">
                        <div class="information-left">
                            <a href="#">
                                <img src="/af/img/1.png" tppabs="http://www.17sucai.com/preview/1324218/2018-08-14/ds/statics/images/1.png" width="500" height="340" alt="共享经济 活该你倒闭！">
                            </a>
                            <div class="left-bottom">
                                <div class="article-title">共享经济 活该你倒闭！</div>
                            </div>
                        </div>
                        <div class="information-right" id="information1">

                        </div>
                    </div>
                </div>
                <div class="tab-item" id="tab-two">
                    <div class="information-tab ">
                        <div class="information-left">
                            <a href="#">
                                <img src="/af/img/2.png" tppabs="http://www.17sucai.com/preview/1324218/2018-08-14/ds/statics/images/2.png" width="500" height="340" alt="网上商城开发公司开辟社交应用的新商机">
                            </a>
                            <div class="left-bottom">
                                <div class="article-title">网上商城开发公司开辟社交应用的新商机</div>
                            </div>
                        </div>
                        <div class="information-right" id="information2">

                        </div>
                    </div>
                </div>
                <div class="tab-item" id="tab-three">
                    <div class="information-tab ">
                        <div class="information-left">
                            <a href="#">
                                <img src="/af/img/3.png" tppabs="http://www.17sucai.com/preview/1324218/2018-08-14/ds/statics/images/3.png" width="500" height="340" alt="优秀的网上商城系统网站介绍">
                            </a>
                            <div class="left-bottom">
                                <div class="article-title">优秀的网上商城系统网站介绍</div>
                            </div>
                        </div>
                        <div class="information-right" id="information3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--新闻动态 结束 -->
</div>
<!--底部 开始 -->
<div class="index_footer" id="lianxiwomen">
    <div class="w1200 clearFloat">
        <div class="footer_left fl">
            <a href="javascript:;">
                <img class="fl" src="/af/img/index40.png" tppabs="http://www.17sucai.com/preview/855854/2018-09-21/hehuiziben/images/index40.png" />
                <span class="fl">AAA公积金<br /><i>AAA GJJ</i></span>
            </a>
        </div>
        <div class="footer_right fl">
            <dl>
                <dt><span>联系我们</span></dt>
                <dd><a href="javascript:;">电话：<span>（+86）0000-0000000</span></a></dd>
                <dd><a href="javascript:;">免费热线：<span>400-000-0000</span></a></dd>
                <dd><a href="javascript:;">传真：<span>（+86）0000-0000000</span></a></dd>
                <dd><a href="javascript:;">公司地址：<span>郑州市金水区杨金路牛顿国际A座6楼</span></a></dd>
            </dl>
        </div>
    </div>
</div>
<div class="index_footer1">
    <div class="w1200 clearFloat">
        <p>Copyright &copy; 2016 - 2017 AAA All Rights Reserved.</p>
    </div>
</div>
<!--底部 结束 -->
<script type="text/javascript">
    //动态信息显示1
    $(function(){
        var infor="";
        $.ajax({
            url:"/af/home/homePage1",
            dataType:"json",
            async : false,
            success:function (data) {
                if (data != '' && data != null) {
                    for (var i = 0; i < data.length; i++) {
                        infor += "<div class='article-list'>" +
                            "<a href='#' class='article-link'>" +
                            "<div class='article-head'>" +
                            "<span class='article-number'>"+(i+1)+"</span>" +
                            "<span class='article-title'>"+data[i].TITLE+"</span>" +
                            "<span class='article-time'>["+data[i].INFORTIME+"]</span>" +
                            "</div>" +
                            "<div class='article-content'>" +
                            "<p>"+data[i].DETAILS+"</p>" +
                            "</div>" +
                            "</a>" +
                            "</div>";
                    }
                    $("#information2").append(infor);
                }
            }
        })
        //新闻列表切换
        $('.information-tab .article-list').bind({
            mouseenter:function() {
                $(this).addClass('current').siblings('.article-list').removeClass('current');
            }, mouseleave:function() {
                $(this).parent('.information-right').find('.article-list:first-of-type').addClass('current').siblings('.article-list').removeClass('current');
            }
        });
    })
    //动态信息显示2
    $(function(){
        var infor="";
        $.ajax({
            url:"/af/home/homePage2",
            dataType:"json",
            async : false,
            success:function (data) {
                if (data != '' && data != null) {
                    for (var i = 0; i < data.length; i++) {
                        infor += "<div class='article-list'>" +
                            "<a href='#' class='article-link'>" +
                            "<div class='article-head'>" +
                            "<span class='article-number'>"+(i+1)+"</span>" +
                            "<span class='article-title'>"+data[i].TITLE+"</span>" +
                            "<span class='article-time'>["+data[i].INFORTIME+"]</span>" +
                            "</div>" +
                            "<div class='article-content'>" +
                            "<p>"+data[i].DETAILS+"</p>" +
                            "</div>" +
                            "</a>" +
                            "</div>";
                    }
                    $("#information1").append(infor);
                }
            }
        })
        //新闻列表切换
        $('.information-tab .article-list').bind({
            mouseenter:function() {
                $(this).addClass('current').siblings('.article-list').removeClass('current');
            }, mouseleave:function() {
                $(this).parent('.information-right').find('.article-list:first-of-type').addClass('current').siblings('.article-list').removeClass('current');
            }
        });
    })
    //动态信息显示3
    $(function(){
        var infor="";
        $.ajax({
            url:"/af/home/homePage3",
            dataType:"json",
            async : false,
            success:function (data) {
                if (data != '' && data != null) {
                    for (var i = 0; i < data.length; i++) {
                        infor += "<div class='article-list'>" +
                            "<a href='#' class='article-link'>" +
                            "<div class='article-head'>" +
                            "<span class='article-number'>"+(i+1)+"</span>" +
                            "<span class='article-title'>"+data[i].TITLE+"</span>" +
                            "<span class='article-time'>["+data[i].INFORTIME+"]</span>" +
                            "</div>" +
                            "<div class='article-content'>" +
                            "<p>"+data[i].DETAILS+"</p>" +
                            "</div>" +
                            "</a>" +
                            "</div>";
                    }
                    $("#information3").append(infor);
                }
            }
        })
        //新闻列表切换
        $('.information-tab .article-list').bind({
            mouseenter:function() {
                $(this).addClass('current').siblings('.article-list').removeClass('current');
            }, mouseleave:function() {
                $(this).parent('.information-right').find('.article-list:first-of-type').addClass('current').siblings('.article-list').removeClass('current');
            }
        });
    })
    //tab切换
    $('.tab-button').click(function() {
        var tab = $(this).data('tab')
        $(this).addClass('cur').siblings('.tab-button').removeClass('cur');
        $('#tab-' + tab + '').addClass('active').siblings('.tab-item').removeClass('active');
    });
</script>
</body>
</html>
