<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人抵押贷</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <div>
        <i class="el-icon-arrow-right"><span style="font-size: large;color: limegreen;">导航- 4步完成</span></i>
        <el-steps :active="active" finish-status="success" :space="1500">
            <el-step title="贷款基本资料"></el-step>
            <el-step title="共同借款人"></el-step>
            <el-step title="购房信息"></el-step>
            <el-step title="抵押信息"></el-step>
        </el-steps>
        <p></p>
    </div>
    <!--11111111111111111111111111111111111111111111111111111-->
    <div id="form1" v-if="active==1">
        <el-form  :model="form1" ref="form1" :rules="rules" label-width="160px" size="small">
                    <h4 style="padding-left: 85px;">个人信息</h4>
                        <el-row :gutter="20">
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item key="1" label="个人账号" prop="GRZH">
                                        <el-input  @blur="blurs()" v-model="form1.GRZH" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*姓名">
                                        <el-input v-model="form1.TB_PNAME" style="width: 200px;"  :disabled="true"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*性别">
                                        <el-input v-model="form1.TB_PSEX" style="width: 200px;"  :disabled="true"></el-input>
                                        <el-input type="hidden" v-model="form1.TB_PID" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*手机号">
                                        <el-input v-model="form1.TB_PIPHONE" style="width: 200px;"  :disabled="true"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*证件类型">
                                        <el-input v-model="form1.TB_IDCARD" style="width: 200px;"  :disabled="true"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*证件号码">
                                        <el-input v-model="form1.TB_IDNUMBER" style="width: 200px;"  :disabled="true"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*婚姻状态">
                                        <el-input v-model="form1.TB_PMARRIAGE" style="width: 200px;"  :disabled="true"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*职业">
                                        <el-input v-model="form1.TB_PROFESSION" style="width: 200px;"  :disabled="true"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="5"><div class="grid-content bg-purple">
                                <el-form-item label="*学历">
                                    <el-input v-model="form1.TB_PEDUCATION" style="width: 200px;" :disabled="true"></el-input>
                                </el-form-item>
                            </div></el-col>
                            <el-col :span="5"><div class="grid-content bg-purple">
                                <el-form-item label="*邮箱">
                                    <el-input v-model="form1.TB_PEMAIL" style="width: 200px;" :disabled="true"></el-input>
                                </el-form-item>
                            </div></el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*家庭地址">
                                        <el-input v-model="form1.TB_PADDRESS" style="width: 200px;" :disabled="true"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*单位编号">
                                        <el-input v-model="form1.UNIT_ID" style="width: 200px;" :disabled="true"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item prop="income" :rules="[{ required: true, message: '月收入不能为空',trigger: 'blur'},
                                                            { type: 'number', message: '月收入必须为数字值',trigger:'blur'}]" label="月收入">
                                        <el-input v-model.number="form1.income"  style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="5">
                                <div class="grid-content bg-purple">
                                    <el-form-item  prop="deposit" :rules="[{ required: true, message: '银行存款不能为空',trigger: 'blur'},
                                                            { type: 'number', message: '银行存款必须为数字值',trigger:'blur'}]" label="银行存款">
                                        <el-input v-model.number="form1.deposit" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
            <h4 style="padding-left: 85px;">缴存信息</h4>
            <el-row :gutter="20">
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="*缴至年月">
                        <el-input v-model="form1.LASTNAYDATE" style="width: 200px;" :disabled="true"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="*缴存状态">
                        <el-input v-model="form1.PERACCSTATE" style="width: 200px;" :disabled="true"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="*账户余额">
                        <el-input v-model="form1.DALANCE" style="width: 200px;" :disabled="true"></el-input>
                    </el-form-item>
                </div></el-col>
            </el-row>

            <h4 style="padding-left: 85px;">贷款信息</h4>
            <el-row :gutter="20">
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item prop="loanAmount" :rules="[{ required: true, message: '银行存款不能为空',trigger: 'blur'},
                                           { type: 'number', message: '银行存款必须为数字值',trigger:'blur'}]" label="贷款金额">
                        <el-input v-model.number="form1.loanAmount" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item prop="loanPeriods" label="贷款期数">
                        <!--<el-input v-model="form1.loanPeriods" @blur="periods()"  style="width: 200px;"></el-input>-->
                        <el-select  v-model="form1.loanPeriods" @change="periods()"  style="width: 200px;">
                            <el-option value="12">12</el-option>
                            <el-option value="24">24</el-option>
                            <el-option value="36">36</el-option>
                            <el-option value="48">48</el-option>
                            <el-option value="60">60</el-option>
                            <el-option value="72">72</el-option>
                            <el-option value="84">84</el-option>
                        </el-select>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item label="*贷款利率">
                            <el-input v-model="form1.loanRate" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item label="*委托银行">
                            <template>
                                <el-select v-model="form1.trustBank" placeholder="请选择" size="small">
                                    <el-option
                                            v-for="item in options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="*还款方式">
                        <template>
                            <el-select v-model="form1.paymentMethod" placeholder="请选择" size="small">
                                <el-option
                                        v-for="item in options1"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item prop="payee" :rules="[{ required: true, message: '收款人不能为空',trigger: 'blur'}]"  label="收款人">
                        <el-input v-model="form1.payee" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item label="*还款日">
                            <el-input v-model="form1.paymentDay" style="width: 200px;" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
                <h4 style="padding-left: 85px;">还款账户信息</h4>
                <el-row :gutter="20">
                    <el-col :span="5"><div class="grid-content bg-purple">
                        <el-form-item label="*开户银行">
                            <template>
                                <el-select v-model="form1.openBank" placeholder="请选择" size="small">
                                    <el-option
                                            v-for="item in options2"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                        </el-form-item>
                    </div></el-col>
                    <el-col :span="5"><div class="grid-content bg-purple">
                        <el-form-item  prop="paymentAccount" :rules="[{ required: true, message: '还款账户号不能为空',trigger: 'blur'},
                                                            { min:18,max:21, message: '还款账户号为18到21位数字',trigger:'blur'}]"  label="还款账户号">
                            <el-input v-model="form1.paymentAccount" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div></el-col>
                    <el-col :span="5">
                        <div class="grid-content bg-purple">
                            <el-form-item  prop="paymentName" :rules="[{ required: true, message: '还款账户名不能为空',trigger: 'blur'}]"  label="还款账户名">
                                <el-input v-model="form1.paymentName" style="width: 200px;"></el-input>
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>
                <h4 style="padding-left: 85px;">配偶信息(选填)</h4>
                <el-row :gutter="20">
                    <el-col :span="5"><div class="grid-content bg-purple">
                        <el-form-item label="配偶姓名">
                            <el-input v-model="form1.spouseName" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div></el-col>
                    <el-col :span="5"><div class="grid-content bg-purple">
                        <el-form-item  prop="spousePhone" :rules="[{pattern: /^1[34578]\d{9}$/, message: '手机号码格式不对请重新输入',trigger: 'blur'}]"  label="配偶电话">
                            <el-input v-model="form1.spousePhone" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div></el-col>
                    <el-col :span="5">
                        <div class="grid-content bg-purple">
                            <el-form-item label="证件类型">
                                <el-input v-model="form1.spouseType" style="width: 200px;"  :disabled="true"></el-input>
                            </el-form-item>
                        </div>
                    </el-col>
                    <el-col :span="5">
                        <div class="grid-content bg-purple">
                            <el-form-item prop="spouseNum" :rules="[{pattern: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/, message: '证件号码格式不对请重新输入',trigger: 'blur'}]"  label="证件号码">
                                <el-input v-model="form1.spouseNum" style="width: 200px;"></el-input>
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>
                <el-row>
                    <center>
                        <div>
                            <el-button style="margin-top: 12px;" @click="prev" v-if="active==2||active==3||active==4">上一步</el-button>
                            <el-button style="margin-top: 12px;" @click="next('form1')"  v-if="active==0||active==1||active==2||active==3">下一步</el-button>
                            <el-button  style="margin-top: 12px;"  type="primary" @click.native="onSubmit()"  v-if="active==4">提交</el-button>
                        </div>
                    </center>
                </el-row>
        </el-form>
    </div>
    <!--22222222222222222222222222222222222222222222222222222222222-->
    <div class="id" v-if="active==2">
        <el-form ref="form2" :model="form2" label-width="150px" size="small">
            <h4 style="padding-left: 85px;">共同借款人（可选择有或无）</h4>
            <el-row :gutter="20">
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item  label="个人账户" key="2" prop="GRZH1">
                        <el-input v-model="form2.GRZH1"  @blur="blurs2()" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="姓名">
                        <el-input v-model="form2.TB_PNAME" style="width: 200px;"  :disabled="true"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item label="手机号码">
                            <el-input v-model="form2.TB_PIPHONE" style="width: 200px;"  :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item label="单位编号">
                            <el-input v-model="form2.UNIT_ID" style="width: 200px;"  :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="单位名称">
                        <el-input v-model="form2.UNAME" style="width: 200px;" :disabled="true"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="单位电话">
                        <el-input v-model="form2.UOPIPHONE" style="width: 200px;" :disabled="true"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item label="证件类型">
                            <el-input v-model="form2.TB_IDCARD" style="width: 200px;" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item label="证件号码">
                            <el-input v-model="form2.TB_IDNUMBER" style="width: 200px;" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="缴存状态">
                        <el-input v-model="form2.PERACCSTATE" style="width: 200px;" :disabled="true"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="账户余额">
                        <el-input v-model="form2.DALANCE" style="width: 200px;" :disabled="true"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item label="缴至年月">
                            <el-input v-model="form2.LASTNAYDATE" style="width: 200px;" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row>
                <center>
                    <div>
                        <el-button style="margin-top: 12px;" @click="prev" v-if="active==2||active==3||active==4">上一步</el-button>
                        <el-button style="margin-top: 12px;" @click="next('form2')"  v-if="active==0||active==1||active==2||active==3">下一步</el-button>
                        <el-button  style="margin-top: 12px;"  type="primary" @click.native="onSubmit()"  v-if="active==4">提交</el-button>
                    </div>
                </center>
            </el-row>
        </el-form>
    </div>
    <!--3333333333333333333333333333333333333333333333333-->
    <div id="form3" v-if="active==3">
        <el-form ref="form3" :model="form3" label-width="150px" size="small">
            <h4 style="padding-left: 85px;">购房信息</h4>
            <el-row :gutter="20">
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item key="3" label="*房屋类型" prop="houseType">
                        <template>
                            <el-select v-model="form3.houseType" placeholder="请选择" size="small">
                                <el-option
                                        v-for="item in options3"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item  key="5"  prop="houseAddress" :rules="[{ required: true, message: '房屋位置不能为空',trigger: 'blur'}]" label="房屋位置">
                        <el-input v-model="form3.houseAddress" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5">
                    <center>
                        <div class="grid-content bg-purple">
                            <el-form-item key="6"  prop="houseArea" :rules="[{ required: true, message: '房屋面积不能为空',trigger: 'blur'},
                                                                { type:'number', message: '房屋面积为数字',trigger:'blur'}]" label="房屋面积">
                                <el-input v-model.number="form3.houseArea" style="width: 200px;"></el-input>
                            </el-form-item>
                        </div>
                    </center>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item key="7" label="证件号码" prop="HIdNum" :rules="[{ required: true, message: '证件号码不能为空',trigger: 'blur'},
                                                          {pattern: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/, message: '证件号码格式不对请重新输入',trigger: 'blur'}]">
                        <el-input v-model="form3.HIdNum" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item key="8" label="购房人名称" prop="HName" :rules="[{ required: true, message: '购房人名称不能为空',trigger: 'blur'}]">
                        <el-input v-model="form3.HName" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item key="9" label="银行账户" prop="HBank" :rules="[{ required: true, message: '银行账户不能为空',trigger: 'blur'},
                                                          {min:18,max:21, message: '银行账户为18到21位的数字',trigger: 'blur'}]">
                            <el-input v-model="form3.HBank" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item key="10" label="房屋总价" prop="houseTotal" :rules="[{ required: true, message: '房屋总价不能为空',trigger: 'blur'},
                                                          {type:'number', message: '房屋总价为数字',trigger: 'blur'}]">
                        <el-input v-model.number="form3.houseTotal"  @blur="houseMoney()"  style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item key="11" label="购房首付款" prop="houseFirst" :rules="[{ required: true, message: '购房首付款不能为空',trigger: 'blur'},
                                                          {type:'number', message: '购房首付款为数字',trigger: 'blur'}]">
                        <el-input v-model.number="form3.houseFirst" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item label="*房屋面积单价">
                            <el-input v-model="form3.housePrice" style="width: 200px;" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row>
                <center>
                    <div>
                        <el-button style="margin-top: 12px;" @click="prev" v-if="active==2||active==3||active==4">上一步</el-button>
                        <el-button style="margin-top: 12px;" @click="next('form3')"  v-if="active==0||active==1||active==2||active==3">下一步</el-button>
                        <el-button  style="margin-top: 12px;"  type="primary" @click.native="onSubmit()"  v-if="active==4">提交</el-button>
                    </div>
                </center>
            </el-row>
        </el-form>
    </div>
    <!--444444444444444444444444444444444444444444444444444444-->
    <div id="form4" v-if="active==4">
        <el-form ref="form4" :model="form4" label-width="150px" size="small">
            <h4 style="padding-left: 85px;">抵押信息</h4>
            <el-row :gutter="20">
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item key="4" label="*抵押类型" prop="DYType">
                        <el-input v-model="form4.DYType" style="width: 200px;" :disabled="true"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="抵押人姓名" key="12" prop="DYName" :rules="[{ required: true, message: '抵押人姓名不能为空',trigger: 'blur'}]">
                        <el-input v-model="form4.DYName" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item key="13" label="抵押人身份证号" prop="DYIdNum" :rules="[{ required: true, message: '抵押人身份证号不能为空',trigger: 'blur'},
                                                          {pattern: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/, message: '身份证号格式不对请重新输入',trigger: 'blur'}]">
                            <el-input v-model="form4.DYIdNum" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="抵押物地址" key="14" prop="DYAddress" :rules="[{ required: true, message: '抵押物地址不能为空',trigger: 'blur'}]">
                        <el-input v-model="form4.DYAddress" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5"><div class="grid-content bg-purple">
                    <el-form-item label="抵押物状态">
                        <template>
                            <el-select v-model="form4.DYStatus" placeholder="请选择" size="small">
                                <el-option
                                        v-for="item in options4"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-form-item>
                </div></el-col>
                <el-col :span="5">
                    <div class="grid-content bg-purple">
                        <el-form-item label="抵押物金额" key="15" prop="DYMoney" :rules="[{ required: true, message: '抵押物金额不能为空',trigger: 'blur'},
                                                                                          {type:'number',message:'抵押物金额为数字'}]">
                            <el-input v-model.number="form4.DYMoney" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row>
                <center>
                    <div>
                        <el-button style="margin-top: 12px;" @click="prev" v-if="active==2||active==3||active==4">上一步</el-button>
                        <el-button style="margin-top: 12px;" @click="next"  v-if="active==0||active==1||active==2||active==3">下一步</el-button>
                        <el-button  style="margin-top: 12px;"  type="primary" @click.native="onSubmit('form4')"  v-if="active==4">提交</el-button>
                    </div>
                </center>
            </el-row>
        </el-form>
    </div>
    <!--<center>
        <div>
            <el-button style="margin-top: 12px;" @click="prev" v-if="active==2||active==3||active==4">上一步</el-button>
            <el-button style="margin-top: 12px;" @click="next"  v-if="active==0||active==1||active==2||active==3">下一步</el-button>
            <el-button  style="margin-top: 12px;"  type="primary" @click.native="onSubmit()"  v-if="active==4">提交</el-button>
        </div>
    </center>-->
</div>

<script type="text/javascript">

    var vm=new Vue({
        el:"#app",
        data:{
            active:1,
            formData:[],
            form1:{
                GRZH:'',
                TB_PNAME:'',
                TB_PSEX:'',
                TB_PID:'',
                TB_PIPHONE:'',
                TB_IDCARD:'',
                TB_IDNUMBER:'',
                TB_PMARRIAGE:'',
                TB_PROFESSION:'',
                TB_PEDUCATION:'',
                TB_PEMAIL:'',
                TB_PADDRESS:'',
                UNIT_ID:'',
                income:'',
                deposit:'',
                LASTNAYDATE:'',
                PERACCSTATE:'',
                DALANCE:'',
                loanAmount:'',
                loanPeriods:'',
                loanRate:'',
                trustBank:'',
                paymentMethod:'',
                payee:'',
                paymentDay:'放款日起',
                openBank:'',
                paymentAccount:'',
                paymentName:'',
                spouseName:'',
                spousePhone:'',
                spouseType:'身份证',
                spouseNum:''
            },
            rules: {
                GRZH: [
                    { required: true, message: '个人账号不能为空', trigger: 'blur' },
                    { min: 1, max: 7, message: '账号有误请重新输入', trigger: 'blur' }
                ]},
            form2:{
                GRZH1:'',
                TB_PNAME:'',
                TB_PIPHONE:'',
                UNIT_ID:'',
                UNAME:'',
                UOPIPHONE:'',
                TB_IDCARD:'',
                TB_IDNUMBER:'',
                PERACCSTATE:'',
                DALANCE:'',
                LASTNAYDATE:''
            },
            form3:{
                houseType:'',
                houseAddress:'',
                houseArea:'',
                HIdNum:'',
                HName:'',
                HBank:'',
                houseTotal:'',
                houseFirst:'',
                housePrice:''
            },
            form4:{
                DYType:'房屋抵押',
                DYName:'',
                DYIdNum:'',
                DYAddress:'',
                DYStatus:'',
                DYMoney:''
            },
            options:[{
                value: '中国工商银行',
                label: '中国工商银行'
            }, {
                value: '中国银行',
                label: '中国银行'
            }, {
                value: '中国建设银行',
                label: '中国建设银行'
            }, {
                value: '中国农业银行',
                label: '中国农业银行'
            }, {
                value: '中国交通银行',
                label: '中国交通银行'
            }, {
                value: '中国邮政银行',
                label: '中国邮政银行'
            }, {
                value: '中国人民银行',
                label: '中国人民银行'
            }],

            options1:[{
                    value: '等额本金',
                    label: '等额本金'
                }, {
                    value: '等额本息',
                    label: '等额本息'
                }],

            options2:[{
                value: '中国工商银行',
                label: '中国工商银行'
            }, {
                value: '中国银行',
                label: '中国银行'
            }, {
                value: '中国建设银行',
                label: '中国建设银行'
            }, {
                value: '中国农业银行',
                label: '中国农业银行'
            }, {
                value: '中国交通银行',
                label: '中国交通银行'
            }, {
                value: '中国邮政银行',
                label: '中国邮政银行'
            }, {
                value: '中国人民银行',
                label: '中国人民银行'
            }],

            options3:[{
                value: '商品房',
                label: '商品房'
            }, {
                value: '解困房',
                label: '解困房'
            }, {
                value: '花园式住宅',
                label: '花园式住宅'
            }, {
                value: '经济适用房',
                label: '经济适用房'
            }, {
                value: '平价房',
                label: '平价房'
            }],

            options4:[{
                value: '正常',
                label: '正常'
            }, {
                value: '抵押中',
                label: '抵押中'
            }]
            },
        methods: {
            next(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (this.active++> 3) this.active = 0;
                    } else {
                        this.$message({
                            message:  '信息填写不完整',
                            type: 'error'
                        });
                    }
                });

            },
            prev() {
                --this.active;
                if (this.active< 0) this.active = 0;
            },
            blurs:function () {
                var self=this;
                var url="/af/loan/searchInfo/"+this.form1.GRZH;
                if(this.form1.GRZH!='') {
                    axios.get(url).then(function (response) {
                        //alert(JSON.stringify(response.data));
                        //self.form1=response.data;
                        self.form1.GRZH = response.data.GRZH;
                        self.form1.TB_PNAME = response.data.TB_PNAME;
                        self.form1.TB_PSEX = response.data.TB_PSEX;
                        self.form1.TB_PID= response.data.TB_PID;
                        self.form1.TB_PIPHONE = response.data.TB_PIPHONE;
                        self.form1.TB_IDCARD = response.data.TB_IDCARD;
                        self.form1.TB_IDNUMBER = response.data.TB_IDNUMBER;
                        self.form1.TB_PMARRIAGE = response.data.TB_PMARRIAGE;
                        self.form1.TB_PROFESSION = response.data.TB_PROFESSION;
                        self.form1.TB_PEDUCATION = response.data.TB_PEDUCATION;
                        self.form1.TB_PEMAIL = response.data.TB_PEMAIL;
                        self.form1.TB_PADDRESS = response.data.TB_PADDRESS;
                        self.form1.UNIT_ID = response.data.UNIT_ID;
                        self.form1.LASTNAYDATE = response.data.LASTNAYDATE;
                        self.form1.PERACCSTATE = response.data.PERACCSTATE;
                        self.form1.DALANCE = response.data.DALANCE;
                        self.form1.paymentDay = "放款日起";
                    })
                }else{
                    self.form1.GRZH = '';
                    self.form1.TB_PNAME ='';
                    self.form1.TB_PSEX ='';
                    self.form1.TB_PID='';
                    self.form1.TB_PIPHONE = '';
                    self.form1.TB_IDCARD = '';
                    self.form1.TB_IDNUMBER = '';
                    self.form1.TB_PMARRIAGE = '';
                    self.form1.TB_PROFESSION = '';
                    self.form1.TB_PEDUCATION = '';
                    self.form1.TB_PEMAIL = '';
                    self.form1.TB_PADDRESS = '';
                    self.form1.UNIT_ID = '';
                    self.form1.LASTNAYDATE = '';
                    self.form1.PERACCSTATE ='';
                    self.form1.DALANCE = '';
                    self.form1.paymentDay = "放款日起";
                }
            },
            blurs2:function () {
                var self=this;
                var url="/af/loan/searchInfo/"+this.form2.GRZH1;
                if(this.form2.GRZH1!=""){
                    axios.get(url).then(function (response) {
                        //alert(JSON.stringify(response.data));
                        self.form2.GRZH1=response.data.GRZH;
                        self.form2.TB_PNAME=response.data.TB_PNAME;
                        self.form2.TB_PIPHONE=response.data.TB_PIPHONE;
                        self.form2.UNIT_ID=response.data.UNIT_ID;
                        self.form2.UNAME=response.data.UNAME;
                        self.form2.UOPIPHONE=response.data.UOPIPHONE;
                        self.form2.TB_IDCARD=response.data.TB_IDCARD;
                        self.form2.TB_IDNUMBER=response.data.TB_IDNUMBER;
                        self.form2.PERACCSTATE=response.data.PERACCSTATE;
                        self.form2.DALANCE=response.data.DALANCE;
                        self.form2.LASTNAYDATE=response.data.LASTNAYDATE;
                    })
                }else {
                    self.form2.GRZH1='';
                    self.form2.TB_PNAME='';
                    self.form2.TB_PIPHONE='';
                    self.form2.UNIT_ID='';
                    self.form2.UNAME='';
                    self.form2.UOPIPHONE='';
                    self.form2.TB_IDCARD='';
                    self.form2.TB_IDNUMBER='';
                    self.form2.PERACCSTATE='';
                    self.form2.DALANCE='';
                    self.form2.LASTNAYDATE='';
                }
            },
            onSubmit:function (formName) {
                /*this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });*/
                var _self = this;
                this.formData.push(this.form1);
                this.formData.push(this.form2);
                this.formData.push(this.form3);
                this.formData.push(this.form4);
                alert(JSON.stringify(this.formData));
                var goUrl="/af/loan/add";
                axios.post(goUrl,this.formData).then(function(response){
                        if(response.data>0){
                            location.href="/af/loan/toLoanWait";
                            /*_self.$message({
                                message:  '操作成功',
                                type: 'success'
                            });*/
                        }else{
                            _self.$message({
                                message:  '操作失败',
                                type: 'error'
                            });
                        }
                    })
                },
            periods:function () {
                //alert(1111);
                if(this.form1.loanPeriods<=50){
                    this.form1.loanRate=2.75;
                }else {
                    this.form1.loanRate=3.25;
                }
                //alert(this.form1.loanPeriods);
            },
            houseMoney:function () {
                var price = this.form3.houseTotal / this.form3.houseArea;
                this.form3.housePrice = price;
            }
        }
    })
   /* var form1=new Vue({
        el:"#form1",
        data:{
            rules: {
                GRZH: [
                    { required: true, message: '请输入个人账号', trigger: 'blur' },
                    { min: 2, max: 2, message: '请输入正确的个人账号', trigger: 'blur' }
                ]},
        }
    })*/
</script>
</body>
</html>