<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人抵押贷</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<!--<div id="app">
    <span style="color: black;font-size: x-large;">个人抵押贷款</span><p></p>
    <i class="el-icon-arrow-right"><span style="font-size: large;color: limegreen;">导航- 4步完成</span></i>
    <el-steps :active="active" finish-status="success">
        <el-step title="贷款基本资料" href="#tab1"></el-step>
        <el-step title="共同借款人"></el-step>
        <el-step title="购房信息"></el-step>
        <el-step title="抵押信息"></el-step>
    </el-steps>
    <p></p>-->
    <div id="app">
        <el-form ref="form" :model="form" label-width="160px" size="mini">
                    <h4 style="padding-left: 85px;">个人信息</h4>
                        <el-row :gutter="10">
                            <el-col :span="6">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*个人账号">
                                        <el-input v-model="form.name" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*姓名">
                                        <el-input v-model="form.name1" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*性别">
                                        <el-input v-model="form.name2" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*手机号">
                                        <el-input v-model="form.name18" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*证件姓名">
                                        <el-input v-model="form.name3" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*证件号码">
                                        <el-input v-model="form.name4" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*婚姻状态">
                                        <el-input v-model="form.name5" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*职业">
                                        <el-input v-model="form.name5" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="6"><div class="grid-content bg-purple">
                                <el-form-item label="*学历">
                                    <el-input v-model="form.name6" style="width: 200px;"></el-input>
                                </el-form-item>
                            </div></el-col>
                            <el-col :span="6"><div class="grid-content bg-purple">
                                <el-form-item label="*邮箱">
                                    <el-input v-model="form.name7" style="width: 200px;"></el-input>
                                </el-form-item>
                            </div></el-col>
                            <el-col :span="6">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*家庭地址">
                                        <el-input v-model="form.name8" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*单位账号">
                                        <el-input v-model="form.name8" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="6"><div class="grid-content bg-purple">
                                <el-form-item label="*月收入">
                                    <el-input v-model="form.name9" style="width: 200px;"></el-input>
                                </el-form-item>
                            </div></el-col>
                            <el-col :span="6">
                                <div class="grid-content bg-purple">
                                    <el-form-item label="*银行存款">
                                        <el-input v-model="form.name0" style="width: 200px;"></el-input>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>

            <h4 style="padding-left: 85px;">缴存信息</h4>
            <el-row :gutter="20">
                <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="*缴至年月">
                        <el-input v-model="form.name12" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="*缴存状态">
                        <el-input v-model="form.name13" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="*账户余额">
                        <el-input v-model="form.name14" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
            </el-row>

            <h4 style="padding-left: 85px;">贷款信息</h4>
            <el-row :gutter="20">
                <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="*贷款金额">
                        <el-input v-model="form.name15" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="*贷款期数">
                        <el-input v-model="form.name16" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-form-item label="*贷款利率">
                            <el-input v-model="form.name17" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-form-item label="*委托银行">
                            <el-input v-model="form.name17" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="*还款方式">
                        <el-input v-model="form.name15" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="*收款人">
                        <el-input v-model="form.name16" style="width: 200px;"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-form-item label="*还款日">
                            <el-input v-model="form.name17" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div>
                </el-col>
            </el-row>
                <h4 style="padding-left: 85px;">还款账户信息</h4>
                <el-row :gutter="20">
                    <el-col :span="6"><div class="grid-content bg-purple">
                        <el-form-item label="*开户银行">
                            <el-input v-model="form.name15" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div></el-col>
                    <el-col :span="6"><div class="grid-content bg-purple">
                        <el-form-item label="*还款账户号">
                            <el-input v-model="form.name16" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div></el-col>
                    <el-col :span="6">
                        <div class="grid-content bg-purple">
                            <el-form-item label="*还款账户名">
                                <el-input v-model="form.name17" style="width: 200px;"></el-input>
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>
                <h4 style="padding-left: 85px;">配偶信息</h4>
                <el-row :gutter="20">
                    <el-col :span="6"><div class="grid-content bg-purple">
                        <el-form-item label="*配偶姓名">
                            <el-input v-model="form.name15" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div></el-col>
                    <el-col :span="6"><div class="grid-content bg-purple">
                        <el-form-item label="*配偶电话">
                            <el-input v-model="form.name16" style="width: 200px;"></el-input>
                        </el-form-item>
                    </div></el-col>
                    <el-col :span="6">
                        <div class="grid-content bg-purple">
                            <el-form-item label="*证件类型">
                                <el-input v-model="form.name17" style="width: 200px;"></el-input>
                            </el-form-item>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content bg-purple">
                            <el-form-item label="*证件号码">
                                <el-input v-model="form.name17" style="width: 200px;"></el-input>
                            </el-form-item>
                        </div>
                    </el-col>
                </el-row>
            <!--</div>
            <el-form-item>
            <el-button style="margin-top: 12px;" @click="prev" v-if="active==2||active==3||active==4">上一步</el-button>
            <el-button style="margin-top: 12px;" @click="next"  v-if="active==0||active==1||active==2||active==3">下一步</el-button>
            <el-button style="margin-top: 12px;" v-if="active==4">提交</el-button>
        </el-form-item>-->
        </el-form>
</div>

<script type="text/javascript">
    var vm=new Vue({
        el:"#app",
        data:{
            active:1,
            form:{
                name0:'',
                name:'',
                name1:'',
                name2:'',
                name3:'',
                name4:'',
                name5:'',
                name6:'',
                name7:'',
                name8:'',
                name9:'',
                name10:'',
                name11:'',
                name12:'',
                name13:'',
                name14:'',
                name15:'',
                name16:'',
                name17:'',
                name18:''

            }
        },
        methods: {
            next() {
                if (this.active++ > 3) this.active = 0;
            },
            prev() {
                --this.active;
                if (this.active< 0) this.active = 0;
            }
        }
    })
</script>
</body>
</html>