<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>明细查询</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/elementui.css">
    <!-- 引入组件库 -->
    <script src="../js/elementui.js"></script>
    <style type="text/css">
        #tableView{margin-left: 155px;float: left;}
    </style>

</head>
<body>
<div id="tableView">
    <h2>{{ message }}</h2>
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item label="姓名">
                <el-input v-model="searchForm.id" placeholder="姓名"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                <el-button type="success" icon="plus" @click="toFlush">搜索框刷新</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                @selection-change="selectionChange"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="GRZH"
                    label="个人账号"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="TB_PNAME"
                    label="员工姓名"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="UNAME"
                    label="所在单位"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="UNITMONPAYSUM"
                    label="单位缴纳"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="PERMONPAYSUM"
                    label="个人缴纳"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="YDRAWAMT"
                    label="总共缴纳"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="LASTNAYDATE"
                    label="业务日期"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="PAOP"
                    label="创建人"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="OPENDATE"
                    label="创建日期"
                    width="100">
            </el-table-column>
        </el-table>
    </el-row>
    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="18" >
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>
</div>
<script>
    var tableView=new Vue({
        el: '#tableView',
        data: {
            show:false,
            message: '明细查询',
            //部门select
            options: [],
            //列表数据
            tableData: [],
            //显示加载中样式
            loading: false,
            //搜索表单
            searchForm: {
                id: ''
            },
            //多选值
            multipleSelection: [],
            //当前页
            currentPage: 1,
            //分页大小
            pageSize: 10,
            //总记录数
            total: 800,
            //删除的弹出框
            deleteVisible: false,
            goUrl: ''
        },
        created: function () {
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            var start = (this.currentPage - 1) * this.pageSize;
            var end = this.currentPage * this.pageSize + 1;
            axios.post('/af/merge/page2', {'start': start, 'end': end}).then(function (response) {
                self.total = response.data.total;
                self.tableData = response.data.pageData;
            });
        },
        methods: {
            //刷新
            toFlush: function () {
                this.searchForm = {
                    id: ''
                };
                this.loadingData();
            },
            //表格重新加载数据
            loadingData: function () {
                var _self = this;
                _self.loading = true;
                var self = this;
                var start = (this.currentPage - 1) * this.pageSize;
                var end = this.currentPage * this.pageSize + 1;
                var searchForm = {
                    'start': start,
                    'end': end,
                    'tb_pname': this.searchForm.id
                };
                axios.post('/af/merge/page2', searchForm).then(function (response) {
                    _self.total = response.data.total;
                    _self.tableData = response.data.pageData;
                });
                console.log(_self.currentPage);
                setTimeout(function () {
                    console.info("加载数据成功");
                    _self.loading = false;
                }, 300);
            },
            //表格查询事件
            searchClick: function () {
                var self = this;
                self.loadingData();//重新加载数据
            },
            //分页大小修改事件
            pageSizeChange: function (val) {
                console.log('每页 ' + val + ' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange: function (val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //表格勾选事件
            selectionChange:function(val) {
                this.multipleSelection = val;
                console.info(val);
            },
        }
    });
</script>
</body>
</html>