<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公积金部分提取</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

<div id="tableView">
    <h3>全部人员列表</h3>
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item label="姓名">
                <el-input v-model="searchForm.APPL_NAME" placeholder="职工姓名"></el-input>
            </el-form-item>
            <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
        </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                style="width: 100%">
            <el-table-column
                    prop="PID"
                    v-if='show'
                    label="个人id"
                    align="center"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="GRZH"
                    label="个人账号"
                    align="center"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="TB_PNAME"
                    label="个人姓名"
                    align="center"
                    width="200">
            </el-table-column>

            <el-table-column
                    prop="UBITNROP"
                    label="单位缴存比例"
                    align="center"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="INDINROP"
                    label="个人缴存比例"
                    align="center"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="BASENUMMBER"
                    label="缴存基数"
                    align="center"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="DALANCE"
                    label="个人公积金余额"
                    align="center"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="PERACCSTATE"
                    label="个人用户状态"
                    align="center"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="LDATE"
                    label="最后汇缴月"
                    align="center"
                    width="200">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template scope="scope">
                    <el-button :plain="true" type="success" size="small" icon="edit" @click="editClick(scope.row)">申请</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="18" >
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>

    <!--编辑界面-->

    <el-dialog title="提取申请" :visible.sync="editFormVisible" :close-on-click-modal="false" width="1000px">
            <el-steps :active="active" finish-status="success" simple margin-bottom="20px">
                <el-step title="提取申请"></el-step>
                <el-step title="个人提取原因"></el-step>
            </el-steps>
            <p></p>
            <el-form  :model="editForm" ref="editForm" label-width="140px" size="middle">
                <div id="div1" v-if="active==1">
                    <el-row :gutter="20">
                        <el-col :span="10">
                            <div class="grid-content bg-purple">
                                <el-form-item label="个人账号" prop="GRZH">
                                    <el-input v-model="editForm.GRZH" style="width: 200px;" :disabled="true"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :span="10">
                            <div class="grid-content bg-purple">
                                <el-form-item label="提取人员姓名">
                                    <el-input v-model="editForm.TB_PNAME" style="width: 200px;" :disabled="true"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item label="证件类型">
                                <el-input v-model="editForm.TB_IDCARD" style="width: 200px;" :disabled="true"></el-input>
                            </el-form-item>
                        </div></el-col>
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item label="证件号码">
                                <el-input v-model="editForm.TB_IDNUMBER" style="width: 200px;" :disabled="true"></el-input>
                            </el-form-item>
                        </div></el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item label="单位名称">
                                <el-input v-model="editForm.UNAME" style="width: 200px;" :disabled="true"></el-input>
                            </el-form-item>
                        </div></el-col>
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item label="单位账号">
                                <el-input v-model="editForm.DWXZ"style="width: 200px;" :disabled="true"></el-input>
                            </el-form-item>
                        </div></el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item label="提取类型" prop="TAKE_TYPE" :rules="[{ required: true, message: '提取类型不能为空',trigger: 'change'}]">
                                <template>
                                    <el-select v-model="editForm.TAKE_TYPE" style="width: 200px;"  placeholder="请选择">
                                        <el-option
                                                v-for="item in options"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </template>
                            </el-form-item>
                        </div></el-col>
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item label="提取方式" prop="TAKE_METHOD" :rules="[{ required: true, message: '提取方式不能为空',trigger: 'change'}]">
                                <template>
                                    <el-select v-model="editForm.TAKE_METHOD" style="width: 200px;">
                                        <el-option
                                                v-for="item in options1"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </template>
                            </el-form-item>
                        </div></el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item key="9" label="申请提取金额" prop="DALANCE" :rules="[{ required: true, message: '申请提取金额不能为空',trigger: 'blur'}
                                                                            ,{pattern:/^([1-9]\d*|0)(\.\d{1,2})?$/, message: '申请提取金额格式不对',trigger: 'blur'}]">
                                <el-input v-model="editForm.DALANCE" @blur="money" style="width: 200px;"></el-input>
                            </el-form-item>
                        </div></el-col>
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item label="申请人收款户名" prop="TB_PNAME">
                                <el-input v-model="editForm.TB_PNAME" style="width: 200px;" ></el-input>
                            </el-form-item>
                        </div></el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item key="8" label="申请人收款账号" prop="GET_ACCOUNT" :rules="[{ required: true, message: '申请人收款账号不能为空',trigger: 'blur'},
                                                                                             {min:18,max:21, message: '收款账号为18到21位的数字',trigger: 'blur'}]">
                                <el-input v-model="editForm.GET_ACCOUNT" style="width: 200px;"  ></el-input>
                            </el-form-item>
                        </div></el-col>
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item key="7" label="委托人姓名" prop="ENTRUST_NAME" :rules="[{ required: true, message: '委托人姓名不能为空',trigger: 'blur'}]">
                                <el-input v-model="editForm.ENTRUST_NAME" style="width: 200px;" ></el-input>
                            </el-form-item>
                        </div></el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item key="6" label="委托人身份证号" prop="ENTRUST_CARDNUM" :rules="[{ required: true, message: '委托人身份证号不能为空',trigger: 'blur'},
                                                                                                {pattern: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/, message: '证件号码格式不对请重新输入',trigger: 'blur'}]">
                                <el-input v-model="editForm.ENTRUST_CARDNUM" style="width: 200px;" ></el-input>
                            </el-form-item>
                        </div></el-col>
                    </el-row>
                </div>
                <div id="div2" v-if="active==2">
                    <el-row :gutter="20">
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item key="5" label="提取原因" prop="TAKE_REASON" :rules="[{ required: true, message: '提取原因不能为空',trigger: 'change'}]">
                                <template>
                                    <el-select v-model="editForm.TAKE_REASON" style="width: 300px;"  placeholder="请选择">
                                        <el-option
                                                v-for="item in options2"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </template>
                            </el-form-item>
                        </div></el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item key="4" label="租房地址" prop="RENT_ADDRESS" :rules="[{ required: true, message: '租房地址不能为空',trigger: 'blur'}]">
                                <el-input v-model="editForm.RENT_ADDRESS"  style="width:200px;"></el-input>
                            </el-form-item>
                        </div></el-col>
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item key="3" label="租房合同编号" prop="RENT_NUMBER" :rules="[{ required: true, message: '租房合同编号不能为空',trigger: 'blur'}]">
                                <el-input v-model="editForm.RENT_NUMBER" style="width: 200px;" ></el-input>
                            </el-form-item>
                        </div></el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item key="2" label="房屋类型" prop="RENT_TYPE" :rules="[{ required: true, message: '房屋类型不能为空',trigger: 'blur'}]">
                                <el-input v-model="editForm.RENT_TYPE" style="width:200px;" ></el-input>
                            </el-form-item>
                        </div></el-col>
                        <el-col :span="10"><div class="grid-content bg-purple">
                            <el-form-item key="1" label="租房支出" prop="RENT_OUT"  :rules="[{ required: true, message: '租房支出不能为空',trigger: 'blur'},
                                                                     {pattern:/^([1-9]\d*|0)(\.\d{1,2})?$/, message: '租房支出格式不对',trigger: 'blur'}]">
                                <el-input v-model="editForm.RENT_OUT" style="width: 200px;"></el-input>
                            </el-form-item>
                        </div></el-col>
                    </el-row>
                </div>
                <div>
                    <el-button style="margin-top: 12px;" @click="prev" v-if="active==2">上一步</el-button>
                    <el-button style="margin-top: 12px;" @click="next('editForm')"  v-if="active==0||active==1">下一步</el-button>
                    <el-button style="margin-top: 12px;" type="primary" @click.native="editPass('editForm')"  v-if="active==2">提交</el-button>
                </div>
                <div slot="footer" class="dialog-footer">
                    <el-button type="success" @click.native="editPass('editForm')" :loading="editLoading">提交</el-button>
                    <el-button @click.native="editFormVisible = false,active=1">取消</el-button>
                </div>
            </el-form>
    </el-dialog>
</div>


<script type="text/javascript">

    var tableView = new Vue({
        el: '#tableView',
        data: {
            options:[
                {
                    value: '部分提取',
                    label: '部分提取'
                }, {
                    value: '销户提取',
                    label: '销户提取'
                }
            ],
            options1:[
                {
                    value: '现金',
                    label: '现金'
                }, {
                    value: '银行',
                    label: '银行'
                }
            ],
            options2:[
                {
                    value: '房屋超出家庭工资收入的规定',
                    label: '房屋超出家庭工资收入的规定'
                }, {
                    value: '建造，翻修，大修住房',
                    label: '建造，翻修，大修住房'
                }
            ],
            active:1,
            //列表数据
            tableData: [],
            show:false,
            //显示加载中样式
            loading:false,
            //搜索表单
            searchForm: {
                STATUS: '',
                APPL_NAME: ''
            },
            //多选值
            multipleSelection: [],
            //当前页
            currentPage:1,
            //分页大小
            pageSize:10,
            //总记录数
            total:800,
            //删除的弹出框
            deleteVisible:false,
            //编辑界面是否显示
            editFormVisible: false,
            editLoading: false,
            goUrl:'',

            //编辑界面数据
             editForm: {
                GRZH: '',
                 PID:'',
                TB_PNAME: '',
                 TB_IDCARD: '',
                 TB_IDNUMBER: '',
                 UNAME: '',
                 DWXZ: '',
                 TAKE_TYPE: '',
                 TAKE_METHOD: '',
                 DALANCE: '',
                 TB_PNAME: '',
                 GET_ACCOUNT: '',
                 ENTRUST_NAME: '',
                 ENTRUST_CARDNUM: '',

                 TAKE_REASON: '房屋超出家庭工资收入的规定',
                 RENT_ADDRESS: '',
                 RENT_NUMBER: '',
                 RENT_TYPE: '',
                 RENT_OUT: ''
            },
        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            var start =(this.currentPage-1)*this.pageSize;
            var end =this.currentPage*this.pageSize+1;
            axios.post('/af/fundTake/selectFundPart',{'start':start,'end':end}).then(function(response){
                self.total=response.data.total;
                self.tableData = response.data.pageData;
                //alert(JSON.stringify(response.data.pageData));
            })
        },
        methods:{
            next(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (this.active++> 1) this.active = 0;
                    } else {
                        this.$message({
                            message:  '信息填写不完整',
                            type: 'error'
                        });
                    }
                });
            },
            prev() {
                --this.active;
                if (this.active< 0) this.active = 0;
            },

            //表格重新加载数据
            loadingData:function() {
                var _self = this;
                _self.loading = true;
                var self = this;
                var start =(this.currentPage-1)*this.pageSize;
                var end =this.currentPage*this.pageSize+1;
                var searchForm={'start':start,'end':end,'APPL_NAME':this.searchForm.APPL_NAME};
                axios.post('/af/fundTake/selectFundPart',searchForm).then(function(response){
                    _self.total=response.data.total;
                    _self.tableData = response.data.pageData;
                })
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            //表格编辑事件
            editClick:function(row) {
                var self=this;
                if(row.PERACCSTATE=='正常'){
                    var url="/af/fundTake/applitation/"+row.GRZH;
                    axios.post(url).then(function (response) {
                        //alert(response.data);
                        if(response.data==0){
                            //alert(11111111)
                            this.active=1;
                            //alert(row.STATUS);
                            //alert(row.PID);
                            this.goUrl="/af/fundTake/selectFormInfo/"+row.PID;
                            axios.post(this.goUrl).then(function (response) {
                                //alert(JSON.stringify(response.data));
                                self.editForm= response.data;
                            })
                            self.editFormVisible = true;
                        }else{
                            //alert(2222222)
                            self.$message({
                                message:  '已经提交申请不能重复提交!!!',
                                type: 'error'
                            });
                        }
                    })
                }else{
                    self.$message({
                        message:  '用户状态异常不能申请提取!!!',
                        type: 'error'
                    });
                }
            },
            //表格查询事件
            searchClick:function() {
                var self = this;
                self.loadingData();//重新加载数据
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //弹框提交事件
            editPass:function(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        var _self = this;
                        _self.loading = true;
                        var formData =this.editForm;
                        //alert(JSON.stringify(formData));
                        var url="/af/fundTake/takeSubmit";
                        axios.post(url,formData).then(function(response){
                            if(response.data>0){
                                _self.editFormVisible = false;
                            }else{
                                _self.$message({
                                    message:  '操作失败',
                                    type: 'error'
                                });
                            }
                            _self.loadingData();//重新加载数据

                        })
                        console.info(this.editForm);
                        this.active=1;
                    } else {
                        this.$message({
                            message:  '信息填写不完整',
                            type: 'error'
                        });
                    }
                });

            },
            money:function () {
                //alert(1111111)
                var self=this;
               var url="/af/fundTake/selectFormInfo/"+this.editForm.PID;
                axios.post(url).then(function (response) {
                    if(self.editForm.DALANCE>response.data.DALANCE){
                        self.$message({
                            message:  '申请提取金额不能大于公积金余额',
                            type: 'error'
                        });
                    }else{
                        return;
                    }
                })
            }
        }
    })
</script>
</body>
</html>