<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.af.dao.InformationDao">
    <select id="xinxiListMaps" resultType="map">
        select ID,TITLE,DETAILS,to_char(INFORTIME,'mm-dd') as INFORTIME from tb_inform WHERE informStatus=1  and informType=#{a}
    </select>
</mapper>