<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.af.dao.UserDao">
    <select id="findByName" resultType="User">
      select * from tb_user where name=#{name}
    </select>
    <select id="findById" parameterType="int" resultType="User">
      select * from tb_user where userId=#{id}
    </select>
</mapper>